.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}


.bigScreen {
    display: block;
}

.smallScreen {
    display: none;
    max-width: 250px;
}


@media screen and (max-width: 800px) {
    .smallScreen {
        display: block;
    }

    .bigScreen {
        display: none;
    }
}